.container {
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}
